<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h4>Id : <%=chat._id%></h4>
    <h3><b>From</b></h3><p><%=chat.from%></p>
    <h3><b>Message</b></h3><p><%=chat.message%></p>
    <h3><b>To</b></h3><p><%=chat.to%></p>
    <h3><b>Send at</b></h3><p><%=chat.created_at%></p>
</body>
</html>